.container {
	margin: 2% auto;
	width: 90%;
}

.header {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 4%;
}

.top-box {
	width: 30%;
	height: 20%;
}

.red {
	background: #D0021B;
}

.blue {
	background: #4A90E2;
}

.black {
	background: #4A4A4A;
}